{
  "openapi": "3.0.1",
  "info": {
    "title": "Highspot REST API",
    "description": "Highspot REST API Documentation \n\n__Note:__ HTTPS is required for all API calls to Highspot endpoints\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.highspot.com/v1.0"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/assessments/external-survey": {
      "post": {
        "tags": [
          "Assessments"
        ],
        "summary": "Create an external survey assessment",
        "description": "Creates an external survey assessment for a user",
        "requestBody": {
          "description": "The external survey assessment details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssessmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "External survey assessment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalSurveyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-bad-request-error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Get current user",
        "description": "Returns the user id of the caller",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          }
        ],
        "responses": {
          "200": {
            "description": "The user id of the caller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List users",
        "description": "Lists users",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email name to filter users by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list",
            "in": "query",
            "description": "Will return all verified users by default if not specified\nOther options include, * unverified - return all unverified users * all - return all live users (including both verified and unverified)\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with-fields",
            "in": "query",
            "description": "Additional fields to include in the response specified as a comma separated list.\n\nBecause they take additional time to produce, the following fields must be explicitly\nrequested for them to be returned with the user\n* properties\n\nSpecify * to return all of the additional fields available\n\n(Replaces deprecated \"fields\" input parameter).\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude-fields",
            "in": "query",
            "description": "Additional fields to exclude in the response specified as a comma separated list\n\nBecause they take additional time to produce, the following fields can be added\nfor them to not be returned with the user\n* groups\n* favorites\n\nSpecify * to exclude all of the additional fields available\n\n(Replaces deprecated \"fields\" input parameter).\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start position of a paged request, starting from 0.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of users returned. If not specified it will default to 100",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/users"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "email-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "with_fields-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "start-not-integer": {
                    "$ref": "#/components/examples/not-integer-error"
                  },
                  "limit-not-integer": {
                    "$ref": "#/components/examples/not-integer-error"
                  },
                  "email-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-256-characters"
                  },
                  "with_fields-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-100-characters"
                  },
                  "limit-value-error": {
                    "value": "Property ‘list’: Value must be one of “unverified”, “all”"
                  },
                  "unsupported-property": {
                    "value": "Unsupported property \u003Ckey\u003E (\u003Ckey\u003E refers to fields other than “email”, “list”, “with_fields”, “start”, and “limit”)"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Add or update users",
        "description": "Adds or updates users and their properties\n\nThe request should contain an array of entries for each user to be created or updated.  A user\ncan be identified by a user id or an email address.  If the email address of the user doesn't\nexist a user account will be created.  Additionally, properties can be specified for each user\nto be updated.\n\nThe user making the api request must have edit permission for any user that is requested to be updated.\n\nThe response will contain an array with each entry corresponding to each entry in the request.  Each\nentry will contain the status of the update and the id of the user, or a message indicating the\nreason for failure.\n\nWhen specifying many users, the operation can take a while.  In order to avoid timeouts, use\nthe async parameter to initiate the request asynchronously.  Using the resulting request id,\npoll /requests/:id to determine when the request is complete.  Once complete, retrieve the\nresult from /requests/:id/result.\n",
        "parameters": [
          {
            "name": "async",
            "in": "query",
            "description": "Whether or not to execute asynchronously",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "x-codegen-request-body-name": "value",
        "requestBody": {
          "description": "The users to add or update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/post-users"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Users added or updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/post-users-response"
                },
                "examples": {
                  "success": {
                    "value": {
                      "collection": [
                        {
                          "status": "ok",
                          "id": "string",
                          "created": true
                        }
                      ]
                    }
                  },
                  "id-or-email-not-specified": {
                    "value": {
                      "collection": [
                        {
                          "status": "failed",
                          "message": "Either id or email must be specified"
                        }
                      ]
                    }
                  },
                  "not-authorized-create-new-user": {
                    "value": {
                      "collection": [
                        {
                          "status": "failed",
                          "message": "Not authorized to create a new user"
                        }
                      ]
                    }
                  },
                  "user-not-of-specified-kind": {
                    "value": {
                      "collection": [
                        {
                          "status": "failed",
                          "message": "User is not of specified kind",
                          "kind": "string"
                        }
                      ]
                    }
                  },
                  "unknown-user": {
                    "value": {
                      "collection": [
                        {
                          "status": "failed",
                          "message": "Unknown user",
                          "id": "string"
                        }
                      ]
                    }
                  },
                  "user-not-in-domain": {
                    "value": {
                      "collection": [
                        {
                          "status": "failed",
                          "message": "is not an address in \u003Cdomain_id\u003E",
                          "domain": "\u003Cuser_domain_id\u003E"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Asynchronous request initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/request"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "email-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "id-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "property-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "email-less-than-max-length": {
                    "$ref": "#/components/examples/minimum-length-1-character"
                  },
                  "id-less-than-max-length": {
                    "$ref": "#/components/examples/minimum-length-1-character"
                  },
                  "email-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-256-characters"
                  },
                  "id-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-100-characters"
                  },
                  "property-key-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-256-characters"
                  },
                  "property-value-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-4096-characters"
                  },
                  "properties-greater-than-max-count": {
                    "$ref": "#/components/examples/maximum-properties-count"
                  },
                  "propert-value-characters-invalid": {
                    "$ref": "#/components/examples/value-characters-invalid"
                  },
                  "value-not-object": {
                    "$ref": "#/components/examples/value-not-object"
                  },
                  "value-not-array": {
                    "$ref": "#/components/examples/value-not-array"
                  },
                  "unsupported-property": {
                    "value": "Unsupported property \u003Ckey\u003E (\u003Ckey\u003E refers to fields other than \"id\", \"email\", \"kind\", and \"properties\")"
                  },
                  "kind-error": {
                    "value": "Property “kind”: Value must be one of “employee”, “partner”"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-validation-error"
                },
                "examples": {
                  "email-invalid": {
                    "$ref": "#/components/examples/email-invalid"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DomainNotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/users/invite": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Send invites to users",
        "description": "Send a Highspot invite to users",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          }
        ],
        "x-codegen-request-body-name": "value",
        "requestBody": {
          "description": "The request body takes a `role` for the users (`Employee` or `Partner`), an optional `message` to send in the email, and a list of `names` as emails.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/invite-users"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Result of request returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/status-ok"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "message-greater-than-max-length": {
                    "value": "Property \"message\": Value can be at most 100 characters"
                  },
                  "email-greater-than-max-length": {
                    "value": "Property \"email\": Value can be at most 256 characters"
                  },
                  "invalid-email-address": {
                    "$ref": "#/components/examples/invalid-email-address"
                  },
                  "role-error": {
                    "value": "Property \"role\": Value must be one of “Employee”, “Partner”"
                  },
                  "missing-role": {
                    "value": "Property \"role\" is required"
                  },
                  "missing-names": {
                    "value": "Property \"names\" is required"
                  },
                  "names-value-error": {
                    "value": "Property \"names\": Value must be an array"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/users/{user}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get metadata",
        "description": "Returns user metadata",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/user"
          }
        ],
        "responses": {
          "200": {
            "description": "User metadata returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "user-does-not-exist": {
                    "$ref": "#/components/examples/user-does-not-exist"
                  }
                }
              }
            }
          },
          "410": {
            "description": "The specified resource has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "user-deleted": {
                    "$ref": "#/components/examples/user-deleted"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update metadata",
        "description": "Updates user metadata",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/user"
          }
        ],
        "x-codegen-request-body-name": "value",
        "requestBody": {
          "description": "The user metadata to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patch-user"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User metadata updated successfully",
            "content": {

            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "id-readonly": {
                    "$ref": "#/components/examples/readonly-error"
                  },
                  "display_name-readonly": {
                    "$ref": "#/components/examples/readonly-error"
                  },
                  "groups-readonly": {
                    "$ref": "#/components/examples/readonly-error"
                  },
                  "sso-readonly": {
                    "$ref": "#/components/examples/readonly-error"
                  },
                  "spots-readonly": {
                    "$ref": "#/components/examples/readonly-error"
                  },
                  "name-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "surname-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "email-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "name-less-than-min-length": {
                    "$ref": "#/components/examples/minimum-length-1-character"
                  },
                  "surname-less-than-min-length": {
                    "$ref": "#/components/examples/minimum-length-1-character"
                  },
                  "email-less-than-min-length": {
                    "$ref": "#/components/examples/minimum-length-1-character"
                  },
                  "name-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-100-characters"
                  },
                  "surname-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-100-characters"
                  },
                  "email-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-256-characters"
                  },
                  "suspended-not-boolean": {
                    "$ref": "#/components/examples/not-boolean-error"
                  },
                  "invalid-user": {
                    "$ref": "#/components/examples/invalid-key"
                  },
                  "invalid-suspendend-user": {
                    "$ref": "#/components/examples/invalid-key"
                  },
                  "cannot-suspend-self": {
                    "$ref": "#/components/examples/cannot-suspend"
                  },
                  "cannot-suspend-protected-service-accounts": {
                    "$ref": "#/components/examples/cannot-suspend"
                  },
                  "invalid-email-address": {
                    "$ref": "#/components/examples/invalid-email-address"
                  },
                  "unsupported-property": {
                    "value": "Unsupported property \u003Ckey\u003E (\u003Ckey\u003E refers to fields other than “name”, “surname”, and “suspended”)"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "user-does-not-exist": {
                    "$ref": "#/components/examples/user-does-not-exist"
                  }
                }
              }
            }
          },
          "410": {
            "description": "The specified resource has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "user-deleted": {
                    "$ref": "#/components/examples/user-deleted"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete user",
        "description": "Delete a user, with the option to reassign the groups, pitches, and spots owned by this\nuser to another owner, as well as the option to leave any reviews and social activity.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/user"
          },
          {
            "name": "delete-owned-entities",
            "in": "query",
            "description": "Whether to delete the user's owned spots, pitches, and groups.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "new-owner",
            "in": "query",
            "description": "The email of the new owner to transfer spots, pitches, and groups to. (required if delete-owned-entities is false)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "delete-references",
            "in": "query",
            "description": "Whether to delete reviews and social media activities or preserve.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users deleted successfully",
            "content": {

            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "new-owner-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "new-owner-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-100-characters"
                  },
                  "delete-owned-entities-false-error": {
                    "value": "Must provide new-owner if delete-owned-entities is false"
                  },
                  "delete-owned-entities-true-error": {
                    "value": "Don’t provide new-owner if delete-owned-entities is true"
                  },
                  "invalid-attributes": {
                    "$ref": "#/components/examples/invalid-attributes"
                  },
                  "cannot-delete-protected-service-accounts": {
                    "value": "Cannot delete protected service accounts"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-validation-error"
                },
                "examples": {
                  "new-owner-email-invalid": {
                    "$ref": "#/components/examples/email-invalid"
                  },
                  "cannot-delete-new-owner": {
                    "value": {
                      "name": "\u003Cemail\u003E",
                      "error": "DELETED_USER",
                      "message": "is the user being deleted"
                    }
                  },
                  "new-owner-suspended-user": {
                    "value": {
                      "name": "\u003Cemail\u003E",
                      "error": "NO_ACCESS",
                      "message": "is a suspended user"
                    }
                  },
                  "new-owner-never-logged-in": {
                    "value": {
                      "name": "\u003Cemail\u003E",
                      "error": "NO_ACCESS",
                      "message": "has never logged in"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "user-does-not-exist": {
                    "$ref": "#/components/examples/user-does-not-exist"
                  }
                }
              }
            }
          },
          "410": {
            "description": "The specified resource has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "user-deleted": {
                    "$ref": "#/components/examples/user-deleted"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/users/{user}/thumbnail": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Set thumbnail",
        "description": "Sets the thumbnail image for a user\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/user"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "filename"
                ],
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "The thumbnail image to set for the user",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Thumbnail image set successfully",
            "content": {

            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "invalid-image-format": {
                    "value": "Invalid image format"
                  },
                  "file-not-provided": {
                    "$ref": "#/components/examples/file-not-provided"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/MissingFile"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/users/{user}/properties": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get properties",
        "description": "Returns all user properties",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/user"
          }
        ],
        "responses": {
          "200": {
            "description": "User properties returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user-properties"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/UnknownEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Set properties",
        "description": "Sets all user properties",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/user"
          }
        ],
        "x-codegen-request-body-name": "value",
        "requestBody": {
          "description": "The user properties to set",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User properties set successfully",
            "content": {

            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "key-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-256-characters"
                  },
                  "value-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-4096-characters"
                  },
                  "properties-greater-than-max-count": {
                    "$ref": "#/components/examples/maximum-properties-count"
                  },
                  "value-characters-invalid": {
                    "$ref": "#/components/examples/value-characters-invalid"
                  },
                  "value-not-object": {
                    "$ref": "#/components/examples/value-not-object"
                  },
                  "invalid-properties": {
                    "$ref": "#/components/examples/invalid-properties"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/UnknownEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Add or update properties",
        "description": "Adds or updates user properties",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/user"
          }
        ],
        "x-codegen-request-body-name": "value",
        "requestBody": {
          "description": "The user properties to set",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User properties set successfully",
            "content": {

            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "key-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-256-characters"
                  },
                  "value-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-4096-characters"
                  },
                  "properties-greater-than-max-count": {
                    "$ref": "#/components/examples/maximum-properties-count"
                  },
                  "value-characters-invalid": {
                    "$ref": "#/components/examples/value-characters-invalid"
                  },
                  "value-not-object": {
                    "$ref": "#/components/examples/value-not-object"
                  },
                  "invalid-properties": {
                    "$ref": "#/components/examples/invalid-properties"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/UnknownEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/users/{user}/properties/{property}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get property",
        "description": "Returns a user property",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/user"
          },
          {
            "$ref": "#/components/parameters/property"
          }
        ],
        "responses": {
          "200": {
            "description": "User property returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/property-value"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/UnknownKey"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Set property",
        "description": "Sets a user property",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/user"
          },
          {
            "$ref": "#/components/parameters/property"
          }
        ],
        "x-codegen-request-body-name": "value",
        "requestBody": {
          "description": "The property value to set",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/property-value"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User property set successfully",
            "content": {

            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "key-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-256-characters"
                  },
                  "value-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-256-characters"
                  },
                  "properties-greater-than-max-count": {
                    "$ref": "#/components/examples/maximum-properties-count"
                  },
                  "value-characters-invalid": {
                    "$ref": "#/components/examples/value-characters-invalid"
                  },
                  "value-not-object": {
                    "$ref": "#/components/examples/value-not-object"
                  },
                  "invalid-properties": {
                    "$ref": "#/components/examples/invalid-properties"
                  },
                  "unsupported-property": {
                    "value": "Unsupported property \u003Ckey\u003E (\u003Ckey\u003E refers to fields other than \"value\")"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete property",
        "description": "Deletes a user property",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/user"
          },
          {
            "$ref": "#/components/parameters/property"
          }
        ],
        "responses": {
          "200": {
            "description": "User property deleted successfully",
            "content": {

            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "invalid-key": {
                    "$ref": "#/components/examples/invalid-key"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/UnknownEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/user-account-events": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "API to bulk deactivate / reactivate users",
        "description": "This API is used to single/bulk deactivate/reactivate users",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          }
        ],
        "x-codegen-request-body-name": "value",
        "requestBody": {
          "description": "The request body takes an array of emails of users, an `event` (deactivate or reactivate), notification (true or false) to send users and an optional `message` to send in the email.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/post-user-account-events"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Result of request returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/status-ok"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "message-greater-than-max-length": {
                    "value": "Property \"message\": Value can be at most 100 characters"
                  },
                  "email-greater-than-max-length": {
                    "value": "Property \"email\": Value can be at most 256 characters"
                  },
                  "invalid-email-address": {
                    "$ref": "#/components/examples/invalid-email-address"
                  },
                  "missing-emails": {
                    "value": "Property \"emails\" is required",
                    "emails-value-error": {
                      "value": "Property \"emails\": Value must be an array"
                    },
                    "cannot-deactivate-self": {
                      "value": "Cannot deactivate / reactivate self"
                    },
                    "missing-event": {
                      "value": "Property \"event\" is required"
                    },
                    "invalid-event-error": {
                      "value": "Property \"event\": Value must be one of “deactivate” or “reactivate”"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/items": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "List items within a spot",
        "description": "Lists items within a spot\n\n__Note__ An item may be an original or a bookmark. If an item is a bookmark, the following object will be present in the response json\n```\n\"bookmark\": {\n  \"from_id\": \"5d797aad8b0ed4484c425e82\",\n  \"original_id\": \"a7743c8154b78b8f30ff1d21\"\n}\n```\n- `from_id` this is the item from which the bookmark was created. It can be the id of an item or another bookmark\n- `original_id` this is the original item to which the bookmark refers.  It is never a bookmark\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "name": "spot",
            "in": "query",
            "description": "The spot id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list",
            "in": "query",
            "description": "The list id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start position of a paged request, starting from 0.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items returned. **Default is 100 items**.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Items returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/items"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "invalid-spot-id": {
                    "$ref": "#/components/examples/invalid-spot-format"
                  },
                  "invalid-list-id": {
                    "$ref": "#/components/examples/invalid-list-format"
                  },
                  "start-or-limit-not-integer": {
                    "$ref": "#/components/examples/not-integer-error"
                  },
                  "unsupported-property": {
                    "value": "Unsupported property \u003Ckey\u003E (\u003Ckey\u003E refers to field other than “limit”, “start”, “list”, and “spot\")"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-does-not-exist": {
                    "$ref": "#/components/examples/spot-does-not-exist"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "list-does-not-exist": {
                    "$ref": "#/components/examples/list-dne"
                  }
                }
              }
            }
          },
          "410": {
            "description": "The specified resource has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-deleted": {
                    "$ref": "#/components/examples/spot-deleted"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "tags": [
          "Items"
        ],
        "summary": "Create item",
        "description": "Creates an item in a spot by uploading a file, or by specifying the item to create\n\nNote that only one of either __file__ _or_ __item-spec__ must be provided\n\nChoose content type __multipart/form-data__ to provide a __file__ to be uploaded as an item\n\nChoose content type __application/json__ to provide an item specification in __item-spec__ to create an item.\nCurrently, the only `type`s supported are `web_link` and `smartpage`.\n\nThe item metadata can be created by supplying a JSON object in the `metadata` query parameter. The following metadata\ncan be applied: `title`, `description`, `title_external`, `description_external`, `language`, `author`, `date_created`, `scheduled`, `expires`, `internal`, `custom_usage_label`, `content_owners`, `lists` and `cms`.\n\n__Note__ The recommended way is to pass either the `internal` or `custom_usage_label` field. If `internal` and\n`custom_usage_label` are both passed in, the most restrictive label will be applied. For example, if `internal` = true and\n`custom_usage_label` are supplied, the item will be set to \"Internal\" whereas if `internal` = false and\n`custom_usage_label` are supplied, the passed in custom usage label will be applied. The `custom_usage_label` field is case insensitive.\nIf neither the `internal` nor the `custom_usage_label` fields are set, then the item will have the label that is set as the default\nfor the domain. If no default is set for the domain, the `external` label will be used.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "name": "spot",
            "in": "query",
            "description": "The spot in which to create the item",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/metadata"
          }
        ],
        "x-codegen-request-body-name": "item-spec",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "The file to upload to the spot",
                    "format": "binary"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/item-spec"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/item"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "no-file-provided": {
                    "$ref": "#/components/examples/no-file-provided"
                  },
                  "form-data-not-found": {
                    "$ref": "#/components/examples/form-data-not-found"
                  },
                  "incorrect-file-count": {
                    "$ref": "#/components/examples/incorrect-file-count"
                  },
                  "unknown-item-type": {
                    "value": "Unknown item type \u003Ctype\u003E"
                  },
                  "url-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "url-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-4096-characters"
                  },
                  "url-required": {
                    "$ref": "#/components/examples/property-required"
                  },
                  "type-required": {
                    "$ref": "#/components/examples/property-required"
                  },
                  "item-spec-not-object": {
                    "$ref": "#/components/examples/value-not-object"
                  },
                  "unsupported-property-item-spec": {
                    "value": "Unsupported property \u003Ckey\u003E (\u003Ckey\u003E refers to fields other than \"type\" and \"url\")"
                  },
                  "unsupported-content-type": {
                    "$ref": "#/components/examples/unsupported-content-type"
                  },
                  "http-https-required": {
                    "$ref": "#/components/examples/http-https-error"
                  },
                  "cannot-identify-content-type": {
                    "$ref": "#/components/examples/cannot-identify-content-type"
                  },
                  "invalid-url-parameter": {
                    "$ref": "#/components/examples/invalid-url-params"
                  },
                  "invalid-add-item-params": {
                    "$ref": "#/components/examples/invalid-item-params"
                  },
                  "invalid-custom-usage": {
                    "$ref": "#/components/examples/invalid-custom-usage-label"
                  },
                  "cannot-add-item-to-folder": {
                    "$ref": "#/components/examples/cannot-add-item-to-folder"
                  },
                  "cannot-add-item-to-query": {
                    "$ref": "#/components/examples/cannot-add-item-to-query"
                  },
                  "invalid-date-created": {
                    "$ref": "#/components/examples/invalid-date-created"
                  },
                  "id-readonly": {
                    "$ref": "#/components/examples/readonly-error"
                  },
                  "spot-readonly": {
                    "$ref": "#/components/examples/readonly-error"
                  },
                  "title-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "description-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "author-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "custom_usage_label-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "date_created-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "list_id-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "title-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-200-characters"
                  },
                  "author-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-200-characters"
                  },
                  "description-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-2000-characters"
                  },
                  "list-id-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-64-characters"
                  },
                  "title-less-than-min-length": {
                    "$ref": "#/components/examples/minimum-length-1-character"
                  },
                  "date_created-less-than-min-length": {
                    "$ref": "#/components/examples/minimum-length-1-character"
                  },
                  "date_created-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-100-characters"
                  },
                  "custom_usage_label-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-36-characters"
                  },
                  "internal-not-boolean": {
                    "$ref": "#/components/examples/not-boolean-error"
                  },
                  "lists-not-array": {
                    "$ref": "#/components/examples/value-not-array"
                  },
                  "value-not-object": {
                    "$ref": "#/components/examples/value-not-object"
                  },
                  "unsupported-property-item-metadata": {
                    "$ref": "#/components/examples/unsupported-property-item-metadata"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-does-not-exist": {
                    "$ref": "#/components/examples/spot-does-not-exist"
                  },
                  "item-does-not-exist": {
                    "$ref": "#/components/examples/item-does-not-exist"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "domain-not-found": {
                    "$ref": "#/components/examples/domain-not-found"
                  },
                  "list-does-not-exist": {
                    "$ref": "#/components/examples/list-dne"
                  }
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "410": {
            "description": "The specified resource has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-deleted": {
                    "$ref": "#/components/examples/spot-deleted"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/items/{item}": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Get metadata",
        "description": "Returns item metadata\n\n__Note__ An item may be an original or a bookmark. If an item is a bookmark, the following object will be present in the response json\n```\n\"bookmark\": {\n  \"from_id\": \"5d797aad8b0ed4484c425e82\",\n  \"original_id\": \"a7743c8154b78b8f30ff1d21\"\n}\n```\n- `from_id` this is the item from which the bookmark was created. It can be the id of an item or another bookmark\n- `original_id` this is the original item to which the bookmark refers.  It is never a bookmark\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/item"
          }
        ],
        "responses": {
          "200": {
            "description": "Item metadata returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/item"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-does-not-exist": {
                    "$ref": "#/components/examples/spot-does-not-exist"
                  },
                  "item-does-not-exist": {
                    "$ref": "#/components/examples/item-does-not-exist"
                  }
                }
              }
            }
          },
          "410": {
            "description": "The specified resource has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-deleted": {
                    "$ref": "#/components/examples/spot-deleted"
                  },
                  "item-deleted": {
                    "$ref": "#/components/examples/item-deleted"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "patch": {
        "tags": [
          "Items"
        ],
        "summary": "Update metadata",
        "description": "Updates item metadata. The following fields can be updated: `title`, `description`, `title_external`, `description_external`, `language`, `author`, `date_created`,\n`scheduled`, `expires`, `internal`, `custom_usage_label`, `content_owners`, `lists` and `cms`.\n\n__Note__ The recommended way is to pass either the `internal` or `custom_usage_label` field. If `internal` and\n`custom_usage_label` are both passed in, the most restrictive label will be applied. For example, if `internal` = true and\n`custom_usage_label` are supplied, the item will be set to \"Internal\" whereas if `internal` = false and\n`custom_usage_label` are supplied, the passed in custom usage label will be applied. The `custom_usage_label` field is case insensitive.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/item"
          }
        ],
        "x-codegen-request-body-name": "value",
        "requestBody": {
          "description": "The item metadata to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patch-item"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Item metadata updated successfully",
            "content": {

            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "id-readonly": {
                    "$ref": "#/components/examples/readonly-error"
                  },
                  "spot_id-readonly": {
                    "$ref": "#/components/examples/readonly-error"
                  },
                  "title-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "description-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "author-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "custom_usage_label-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "date_created-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "list_id-not-string": {
                    "$ref": "#/components/examples/not-string-error"
                  },
                  "title-less-than-min-length": {
                    "$ref": "#/components/examples/minimum-length-1-character"
                  },
                  "date_created-less-than-min-length": {
                    "$ref": "#/components/examples/minimum-length-1-character"
                  },
                  "title-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-200-characters"
                  },
                  "author-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-200-characters"
                  },
                  "description-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-2000-characters"
                  },
                  "date_created-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-100-characters"
                  },
                  "lists-not-array": {
                    "$ref": "#/components/examples/value-not-array"
                  },
                  "list_id-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-64-characters"
                  },
                  "custom_usage_label-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-36-characters"
                  },
                  "internal-not-boolean": {
                    "$ref": "#/components/examples/not-boolean-error"
                  },
                  "value-not-object": {
                    "$ref": "#/components/examples/value-not-object"
                  },
                  "unsupported-property-item-metadata": {
                    "$ref": "#/components/examples/unsupported-property-item-metadata"
                  },
                  "invalid-custom-usage": {
                    "$ref": "#/components/examples/invalid-custom-usage-label"
                  },
                  "cannot-add-item-to-folder": {
                    "$ref": "#/components/examples/cannot-add-item-to-folder"
                  },
                  "cannot-add-item-to-query": {
                    "$ref": "#/components/examples/cannot-add-item-to-query"
                  },
                  "cant-set-property-on-bookmarked-items": {
                    "value": "Can’t set {property} on bookmarked items"
                  },
                  "invalid-date-created": {
                    "$ref": "#/components/examples/invalid-date-created"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-does-not-exist": {
                    "$ref": "#/components/examples/spot-does-not-exist"
                  },
                  "item-does-not-exist": {
                    "$ref": "#/components/examples/item-does-not-exist"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "list-does-not-exist": {
                    "$ref": "#/components/examples/list-dne"
                  }
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "410": {
            "description": "The specified resource has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-deleted": {
                    "$ref": "#/components/examples/spot-deleted"
                  },
                  "item-deleted": {
                    "$ref": "#/components/examples/item-deleted"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/items/{item}/bookmarks": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Get bookmarks",
        "description": "Gets a list of bookmark ids for this item\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/item"
          }
        ],
        "responses": {
          "200": {
            "description": "Bookmarks returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bookmarks"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-does-not-exist": {
                    "$ref": "#/components/examples/spot-does-not-exist"
                  },
                  "item-does-not-exist": {
                    "$ref": "#/components/examples/item-does-not-exist"
                  }
                }
              }
            }
          },
          "410": {
            "description": "The specified resource has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-deleted": {
                    "$ref": "#/components/examples/spot-deleted"
                  },
                  "item-deleted": {
                    "$ref": "#/components/examples/item-deleted"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/items/{item}/content": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Get content",
        "description": "Gets the content for an item\n\n __Note__ There are rate-limits configured for some of the item kinds. \n  If item kind is `smartpage` - rate-limit is set to __1000__ requests per user per minute and if it is `report` - rate-limit\n  is __1__ request per user per minute\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/item"
          },
          {
            "name": "format",
            "in": "query",
            "description": "The format to return content as\n\nFor Reports this parameter is required and must be the value 'text/csv'\n\nFor all other types this parameter is currently ignored\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start position of a paged request\n\nFor Reports this parameter can be used to override the starting date for the result set\n\nFor all other types this parameter is currently ignored\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Content returned successfully",
            "content": {
              "application/json": {
                "description": "Returns the structured content of an item. Only SmartPage supported",
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/smartpage"
                    }
                  ]
                }
              },
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "cannot-download": {
                    "$ref": "#/components/examples/cannot-download-item"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-does-not-exist": {
                    "$ref": "#/components/examples/spot-does-not-exist"
                  },
                  "item-does-not-exist": {
                    "$ref": "#/components/examples/item-does-not-exist"
                  }
                }
              }
            }
          },
          "410": {
            "description": "The specified resource has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-deleted": {
                    "$ref": "#/components/examples/spot-deleted"
                  },
                  "item-deleted": {
                    "$ref": "#/components/examples/item-deleted"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/items/{item}/cms/metadata": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Get CMS metadata",
        "description": "Gets the metadata of an item the was imported through an external CMS for providers that support it\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/item"
          }
        ],
        "responses": {
          "200": {
            "description": "CMS metadata returned successfully",
            "content": {

            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-does-not-exist": {
                    "$ref": "#/components/examples/spot-does-not-exist"
                  },
                  "item-does-not-exist": {
                    "$ref": "#/components/examples/item-does-not-exist"
                  }
                }
              }
            }
          },
          "410": {
            "description": "The specified resource has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-deleted": {
                    "$ref": "#/components/examples/spot-deleted"
                  },
                  "item-deleted": {
                    "$ref": "#/components/examples/item-deleted"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/items/{item}/thumbnail": {
      "put": {
        "tags": [
          "Items"
        ],
        "summary": "Set thumbnail",
        "description": "Sets the thumbnail image for an item\n\nA thumbnail may only be set for items that allow for custom thumbnails\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/item"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "filename"
                ],
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "The thumbnail image to set for the item",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Thumbnail image set successfully",
            "content": {

            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "invalid-image-format": {
                    "$ref": "#/components/examples/invalid-image-format"
                  },
                  "file-not-provided": {
                    "$ref": "#/components/examples/file-not-provided"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-does-not-exist": {
                    "$ref": "#/components/examples/spot-does-not-exist"
                  },
                  "item-does-not-exist": {
                    "$ref": "#/components/examples/item-does-not-exist"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "missing-file": {
                    "value": "Missing File"
                  },
                  "file-not-array": {
                    "value": "File not array"
                  }
                }
              }
            }
          },
          "410": {
            "description": "The specified resource has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-deleted": {
                    "$ref": "#/components/examples/spot-deleted"
                  },
                  "item-deleted": {
                    "$ref": "#/components/examples/item-deleted"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "501": {
            "$ref": "#/components/responses/NotImplementedForItem"
          }
        }
      }
    },
    "/items/{item}/thumbnails": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Get thumbnails",
        "description": "Gets a set of possible thumbnails for an item\n\nThumbnails may only be queried for web links\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/item"
          }
        ],
        "responses": {
          "200": {
            "description": "Thumbnails returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/thumbnails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "invalid-url-parameter": {
                    "$ref": "#/components/examples/invalid-url-params"
                  },
                  "missing-url-parameter": {
                    "$ref": "#/components/examples/missing-url-params"
                  },
                  "http-https-required": {
                    "$ref": "#/components/examples/http-https-error"
                  },
                  "cannot-identify-content-type": {
                    "$ref": "#/components/examples/cannot-identify-content-type"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-does-not-exist": {
                    "$ref": "#/components/examples/spot-does-not-exist"
                  },
                  "item-does-not-exist": {
                    "$ref": "#/components/examples/item-does-not-exist"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "domain-not-found": {
                    "$ref": "#/components/examples/domain-not-found"
                  }
                }
              }
            }
          },
          "410": {
            "description": "The specified resource has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/json-not-found-error"
                },
                "examples": {
                  "spot-deleted": {
                    "$ref": "#/components/examples/spot-deleted"
                  },
                  "item-deleted": {
                    "$ref": "#/components/examples/item-deleted"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/items/{item}/properties": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Get properties",
        "description": "Returns all item properties",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/item"
          }
        ],
        "responses": {
          "200": {
            "description": "Item properties returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/item-properties"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/UnknownEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "put": {
        "tags": [
          "Items"
        ],
        "summary": "Set properties",
        "description": "Sets all item properties",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/item"
          }
        ],
        "x-codegen-request-body-name": "value",
        "requestBody": {
          "description": "The item properties to set",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Item properties set successfully",
            "content": {

            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "key-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-256-characters"
                  },
                  "value-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-4096-characters"
                  },
                  "properties-greater-than-max-count": {
                    "$ref": "#/components/examples/maximum-properties-count"
                  },
                  "value-characters-invalid": {
                    "$ref": "#/components/examples/value-characters-invalid"
                  },
                  "value-not-object": {
                    "$ref": "#/components/examples/value-not-object"
                  },
                  "invalid-properties": {
                    "$ref": "#/components/examples/invalid-properties"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/UnknownEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "tags": [
          "Items"
        ],
        "summary": "Add or update properties",
        "description": "Adds or updates the item properties",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/item"
          }
        ],
        "x-codegen-request-body-name": "value",
        "requestBody": {
          "description": "The item properties to set",
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Item properties set successfully",
            "content": {

            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "key-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-256-characters"
                  },
                  "value-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-4096-characters"
                  },
                  "properties-greater-than-max-count": {
                    "$ref": "#/components/examples/maximum-properties-count"
                  },
                  "value-characters-invalid": {
                    "$ref": "#/components/examples/value-characters-invalid"
                  },
                  "value-not-object": {
                    "$ref": "#/components/examples/value-not-object"
                  },
                  "invalid-properties": {
                    "$ref": "#/components/examples/invalid-properties"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/UnknownEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/items/{item}/properties/{property}": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Get property",
        "description": "Returns an item property",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/item"
          },
          {
            "name": "property",
            "in": "path",
            "description": "The property name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item property returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/property-value"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/UnknownKey"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "put": {
        "tags": [
          "Items"
        ],
        "summary": "Set property",
        "description": "Sets an item property",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/item"
          },
          {
            "$ref": "#/components/parameters/property"
          }
        ],
        "x-codegen-request-body-name": "value",
        "requestBody": {
          "description": "The property value to set",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/property-value"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Item property set successfully",
            "content": {

            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/plain-text-error"
                },
                "examples": {
                  "key-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-256-characters"
                  },
                  "value-greater-than-max-length": {
                    "$ref": "#/components/examples/maximum-length-4096-characters"
                  },
                  "properties-greater-than-max-count": {
                    "$ref": "#/components/examples/maximum-properties-count"
                  },
                  "value-characters-invalid": {
                    "$ref": "#/components/examples/value-characters-invalid"
                  },
                  "value-not-object": {
                    "$ref": "#/components/examples/value-not-object"
                  },
                  "invalid-properties": {
                    "$ref": "#/components/examples/invalid-properties"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "delete": {
        "tags": [
          "Items"
        ],
        "summary": "Delete property",
        "description": "Deletes an item property",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/item"
          },
          {
            "$ref": "#/components/parameters/property"
          }
        ],
        "responses": {
          "200": {
            "description": "Item property deleted successfully",
            "content": {

            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedImpersonationErrors"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/items/{item}/versions": {
      "post": {
        "tags": [
          "Items"
        ],
        "summary": "Add a new version of an item",
        "description": "Adds a new version of an item by uploading a file, or by specifying the item to update\n\nNote that only one of either __file__ _or_ __item-spec__ must be provided\n\nSelect a parameter content type of __multipart/form-data__ and provide a __file__ to submit the content of an item\n\nSelect a parameter content type of __application/json__ and provide an item specification in __item-spec__ to create an item\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/hs-user"
          },
          {
            "$ref": "#/components/parameters/item"
          },
          {
            "$ref": "#/components/parameters/metadata"
          }
        ],
        "x-codegen-request-body-name": "item-spec",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "The file to upload to the spot",
                    "format": "binary"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/item-spec"
[...]
